# Config

In [6]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Exemplos

In [2]:
# Criando o DataFrame
data = {
    "Indivíduo": list(range(1, 21)),
    "Y": [96, 92, 106, 100, 98, 104, 110, 101, 116, 106,
          109, 100, 112, 105, 118, 108, 113, 112, 127, 117],
    "W": ["H", "M", "H", "M", "M", "H", "H", "M", "M", "H",
          "H", "M", "M", "M", "H", "H", "M", "M", "H", "H"],
    "X": [20, 20, 20, 20, 25, 25, 25, 25, 30, 30,
          30, 30, 35, 35, 35, 35, 40, 40, 40, 40],
    "Z": [90, 100, 80, 90, 100, 90, 80, 90, 70, 90,
          90, 80, 90, 80, 70, 90, 90, 90, 60, 80]
}

df = pd.DataFrame(data)

# Exibindo o DataFrame
df.head()

   Indivíduo    Y  W   X    Z
0          1   96  H  20   90
1          2   92  M  20  100
2          3  106  H  20   80
3          4  100  M  20   90
4          5   98  M  25  100

In [3]:
model = smf.ols("Y ~ X", data=df).fit()
print(model.params)

Intercept    80.5
X             0.9
dtype: float64

In [4]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.590
Model:                            OLS   Adj. R-squared:                  0.567
Method:                 Least Squares   F-statistic:                     25.90
Date:                Thu, 13 Mar 2025   Prob (F-statistic):           7.66e-05
Time:                        20:29:51   Log-Likelihood:                -61.754
No. Observations:                  20   AIC:                             127.5
Df Residuals:                      18   BIC:                             129.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     80.5000      5.451     14.768      0.000      69.048      91.952
X              0.9000      0.177      5.089      0.000       0.528       1.272
==============================================================================
Omnibus:                        1.840   Durbin-Watson:                   2.565
Prob(Omnibus):                  0.399   Jarque-Bera (JB):                1.395
Skew:                           0.459   Prob(JB):                        0.498
Kurtosis:                       2.088   Cond. No.                         134.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [7]:
# Gerando a tabela ANOVA
anova_table = sm.stats.anova_lm(model, typ=1)
print(anova_table)

            df  sum_sq     mean_sq         F    PR(>F)
X          1.0   810.0  810.000000  25.89698  0.000077
Residual  18.0   563.0   31.277778       NaN       NaN

In [8]:
intervalos = model.conf_int(alpha=0.05)

# Nomeando as colunas para facilitar a leitura
intervalos.columns = ["Limite Inferior", "Limite Superior"]

# Adicionando os nomes dos coeficientes
intervalos.index = ["Intercepto", "Coeficiente de X"]

print(intervalos)

                  Limite Inferior  Limite Superior
Intercepto              69.047780        91.952220
Coeficiente de X         0.528441         1.271559